@import "tailwindcss";
@custom-variant dark (&:is(.dark *));

@theme {
  --color-background-light: #fff9ed;
  --color-background-dark: #000000;
}

@utility hide-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    display: none;
  }
}
